:root{
    --try-b: 0.5px solid white;
    --main-b:0.5px solid rgb(78, 78, 78);
}
.from-tab{
    display: block;
}
.carosel{
    display: flex;
    overflow-x: auto;
    white-space: nonwrap;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.main-text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #111;
    /* border: 0.5px solid red; */
    padding: 0% ;
    margin: 0%;
    
}
.header{
    display: flex;
    align-items: center;
    border-bottom:var(--main-b);
    height: 50px;
    position: fixed;
    width: 100%;
    background-color: black;
    opacity: 0.9;
    overflow: hidden;
    
}
.main{
    display: flex;
    flex-direction: column;
    /* border-bottom: 0.5px solid white; */
    padding-left: 5%;
    padding-right: 5%;
}
a{
    text-decoration: none;
}
.container-for-header{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: fit-content;
    /* border: 0.5px solid white; */
    margin-left: 5%;
}
.container-for-header-img{
    height: 2em;
    width: 2em;
}
.container-for-header-h1{
    color: white;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-button-header{
    display: block;
    height: 1.6em;
    margin-left: auto;
    margin-right: 6%;
}
.container-for-header-h2-div{
    display: none;
}
.hidden-small{
    display: none;
}
.section-one{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100;
    /* border: 0.5px solid white; */
}
.para-one-section-one{
    color: rgb(234, 236, 234);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 20%;
}
.para-one-section-one>span{
    color: #00c16a;
}
.para-two-section-one{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.25em;
    margin-top: -3%;
}
.buttons-div-section-one{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    height: 2.5em;
    width: 100%;
    margin-top: 3%;
    /* border: 0.5px solid white; */
}
.button-section-one-green{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    background-color: rgb(16, 82, 16);
    border: var(--main-b);
    border-radius: 8px;

}
.button-section-one-black{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    background-color: rgb(36, 37, 36);
    border: var(--main-b);
    border-radius: 8px;
}
.button-section-one-text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
}
.section-two{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
}
.section-two-log-div{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    gap: 30px;
    width: 94%;
    height: 1.5em;
    /* border: 0.5px solid white; */
    margin-left: 3%;
}
.logos-in-section-two{
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    /* border: 0.5px solid white; */
    flex-shrink: 0;
}
.logos-in-section-two>img{
    height: 2em;
    width: 2em;
    color: white;
}
.logos-in-section-two>h6{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    opacity: 0.6;
}
.section-two-text{
    text-align: center;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}
.section-four{
    display: flex;
    flex-direction: column;
    align-self: center;
    height: fit-content;
    width: 90%;
    /* border: 0.5px solid white; */
    margin-top: 10%;
}
.text-in-section-four-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5em;
    
   
}
.text-in-section-four{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.7em;
}
.text-in-section-four>span{
    color: grey;
}
.section-four-imgs{
    display: grid;
    grid-template-columns: repeat(5,4fr);
    height: fit-content;
    width: 80%;
    /* border: 0.5px solid white; */
    justify-self: center;
    align-self: center;
    margin-top: 5%;
}
.section-four-imgs>img{
    height: 1.8em;
    width: 100%;
    opacity: 0.6;
    

}
.section-five{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5em;
    /* border: var(--try-b); */
}
.first-text-section-five{
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.7em;
}
.Second-text-section-five{
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 1.65em;
}
.Second-text-section-five>span{
    color: white;
}
.Third-text-section-five{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.13em;
    margin-top: -3%;
}
.div-buttons-section-five{
    display: flex;
    gap: 5px;
    width: 100%;
    height: fit-content;
    /* border: var(--try-b); */
}
.buttons-section-five-green{
    height: 1.5em;
    width: 10em;
    background-color: #4c9c78;
    border: 0.5px solid rgb(66, 65, 65);
    border-radius: 6px;
}
.buttons-section-five-black{
    height: 1.5em;
    width: 10em;
    background-color: #686b6a;
    border: 0.5px solid rgb(66, 65, 65);
    border-radius: 6px;
}
.section-five-button-text{
    font-size: 0.7em;
}
.section-six{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    height: fit-content;
    width: 100%;
    /* border: var(--try-b); */
    margin-top: 44%;
}
.div-inside-section-six{
    gap: 7px;
    height: 17em;
    width: 15em;
    flex-shrink: 0;
}
.child-divs{
    height: 50%;
    border: var(--main-b);
    border-radius: 8px;
}
.big-divs{
    width: 20em;
    border: var(--main-b);
    border-radius: 8px;
}
.child-divs-text{
    color: gray;
    font-size: 1.4em;
}
.child-divs>img{
    height: 2em;
    opacity: 0.7;
}
.next-door{
    text-align: center;
    line-height: 0.7em;
}
.next-door>span{
    font-size: 0.4em;
    letter-spacing: 10px;
    
}
.section-seven{
    align-items: center;
    height: 12em;
    width: 100%;
    /* border: var(--try-b); */
    margin-top: 30%;
    /* padding-left: 20%; */
    
    
}
.first-text-section-seven{
    font-size: 1.7em;
}
.Second-text-section-seven{
    color: gray;
    text-align: center;
    text-align: center;
    font-size: 0.9em;
    margin-top: -3%;

}
.buttons-div-section-seven{
    gap: 10px;
    height: fit-content;
    width: 100%;
    /* border: var(--try-b); */
    margin-top: 2%;
}
.buttons-section-seven{
    gap: 5px;
    height: 2.3em;
    width: 37%;
    border: var(--main-b);
    border-radius: 8px;
}
.buttons-section-seven{
    font-size: 1em;
}
.buttons-section-seven>img{
    height: 1em;
    opacity: 0.8;
}
.section-eight{
    padding-left: 0.1%;
    gap: 10px;
    height: fit-content;
    width: 100%;
    /* border: var(--try-b); */
}
.main-div{
    height: 15em;
    width: 84%;
    flex-shrink: 0;
    border: var(--main-b);
    border-radius: 4px;
}
.top-div-inside-section-eight{
    gap: 15px;
    height: 40%;
    width: 100%;
    /* border: var(--try-b); */
}
.down-div-inside-section-eight{
    height: 50%;
    width: 100%;
    border-top: var(--main-b); 
}
.top-div-inside-section-eight>img{
    height: 1.3em;
}
.footer-div-inside-section-eight{
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
    /* border: var(--try-b); */
}
.footer-div-inside-section-eight>img{
    height: 0.87em;
    align-self: first baseline;
    margin-left: 1%;
    opacity: 0.7;
}
.down-div-inside-section-eight>h6{
    margin-left:0.3% ;
    font-size: 1.2em;
    margin-top: 3%;
}
.down-div-inside-section-eight>p{
    font-size: 0.9em;
    margin-top: -10%;
    color: grey;
}
.footer-text-inside-section-eight{
    font-size: 0.7em;
    color: grey;
    margin-left: 1%;
}
.section-nine{
    margin-top: 10%;
}
.first-text-section-nine{
    text-align: center;
    font-size: 1.9em;
    color: grey;
}
.first-text-section-nine>span{
    color: white;
}
.buttons-div-section-nine{
    gap: 10px;
    height: fit-content;
    /* border: var(--try-b); */
}
.buttons-section-nine{
    height: 2.2em;
    width: 27%;
    border: var(--main-b);
    border-radius: 16px;
    
}
.buttons-text-section-nine{
    font-size: 0.8em;
}
.last-text-section-nine{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-self: center;
    column-gap: 50px;
    
}
.last-divs-section-nine{
    height:fit-content;
    width: fit-content; 
    /* border: var(--try-b); */
}
.last-divs-section-nine{
    font-size: 0.8em;
   
    
}
.last-divs-section-nine-end{
 grid-column: 1/-1;
 font-size: 0.8em;
}
.last-divs-section-nine>img,.last-divs-section-nine-end>img{
    height: 1em;
}
.last-divs-section-nine>p,.last-divs-section-nine-end>p{
    color: grey;
}
.section-ten{
   align-items: center;
   padding: 10%;
}
.first-text-section-ten{
    font-size: 2em;
}
.second-text-section-ten{
    text-align: center;
    color: grey;
    margin-top: -3%;
    font-size: 1em;
}
.buttons-div-section-ten{
    gap: 7px;
    width: 100%;
    height: fit-content;
}
.button-section-ten-one{
    gap: 4px;
    width: 53%;
    height: 2em;
    border: var(--main-b);
    border-radius: 7px;
}
.button-section-ten-two{
    gap: 4px;
    width: 30%;
    height: 2em;
    border: var(--main-b);
    border-radius: 7px;
}
.button-text-section-ten{
    font-size: 0.8em;
}
.buttons-img-section-ten{
    height: 0.93em;
}
.section-eleven{
    justify-content: center;
    padding: 10%;
}
.text-section-eleven{
    text-align: center;
    font-size: 1.7em;
}
.text-section-eleven>span{
    color: grey;
}
.buttons-div-section-eleven{
    gap: 10px;
    height: fit-content;
    width: 100%;
    margin-top: 3%;
}
.buttons-section-eleven-green,.buttons-section-eleven-black{
    height: 2.5em;
    border: var(--main-b);
    width: 45%;
    border-radius: 5px;
    background-color: rgb(57, 121, 57);
}
.buttons-section-eleven-black{
    background-color: black;
}
.buttons-text-section-eleven{
    font-size: 0.85em;
}
.first-div-section-twelve{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: -5%;
}
.div-section-twelve{
    height: 2em;
}
.text-section-twelve{
    font-size: 0.7em;
}
.text-section-twelve>span{
    color: rgb(74, 185, 74);
}
.div-section-twelve>img{
    height: 1em;
}
.supabase-logo-section-twelve{
    display: flex;
    gap: 7px;
    align-items: center;
    width: fit-content;
    height: 2em;
    /* border: var(--try-b); */
    margin-top: 7%;
}
.supabase-logo-section-twelve>img{
    height: 1.8em;
}
.supabase-logo-section-twelve>h3{
    font-size: 2em;
}
.footer-logo-div-section-twelve{
    gap: 25px;
    height: 2em;
    width: fit-content;
    /* border: var(--try-b); */
    margin-top: 5%;
}
.footer-logo-div-section-twelve>img{
    height: 1.3em;
    opacity: 0.8;
}
.listing-section-thirdteen{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    gap: 20px;
    margin-top: 5%;
}
.listing-section-thirdteen-in{
   gap: 4px;
   width: 100%;
    
}
.listing-section-thirdteen-innest{
    display: flex;
    align-items: center;
    /* border: var(--try-b); */
    height: 1.5em;
    font-size: 0.8em;
}
.listing-section-thirdteen-innest>p{
    color: grey;
    font-size: 0.99em;
}
.listing-section-thirdteen-innest>h4{
    font-size: 1.3em;
}
.footer{
    display: flex;
    gap: 2px;
    align-items: center;
    width: 99%;
    height: 3em;
    border-top: var(--main-b);
    padding-left: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
    
}
.footer-img,.footer-img0{
    height: 0.7em;
}
.text-footer{
    font-size: 0.7em;
    color: grey;
}
.footer-img0{
    height: 1em;
    margin-left: auto;
    margin-right: 4%;
}
.section-three{
    gap: 37px;
    width: 99%;
    height: 57em;
    /* border: var(--try-b); */
    overflow: hidden;
}
.main-divs-section-three{
    
    width: 98%;
    height: 5em;
    /* border: var(--try-b); */
}
.sub-div-section-three{
    padding: 2%;
    width: 97%;
    height: 6em;
    border: var(--main-b);
    border-radius: 8px;
    
}
.logo-header-div-section-three{
    display: flex;
    gap: 3px;
    align-items: center;
    width: 100%;
    height: 2em;
    /* border: var(--try-b); */
}
.logo-header-div-section-three>img{
    height: 1.5em;
}
.logo-header-div-section-three>h6{
    font-size: 1.2em;
}
.sub-div-section-three>p{
    font-size: 0.9em;
    color: grey;
}
.sub-div-section-three>p>strong{
    color: white;
}
.text-section-three{
    font-size: 1em;
    margin-right: 40%;
}
.text-section-three>span{
    color: grey;
}
.video{
    width: 100%;
    height: 100%;
}
.video-div{
    width: 100%;
    height: 20em;
}
.comments{
    gap: 10px;
    width: 100%;
    height: fit-content;
    /* border: var(--try-b); */
    margin-top: 10%;
}
.comments-div{
    flex-shrink: 0;
    width: 80%;
    height: fit-content;
    border: var(--main-b);
    padding: 3%;
    border-radius: 10px;
}
.comments-profile{
    height: 4em;
    /* border: var(--try-b); */
    display: flex;
    align-items: center;
}
.comments-profile>img{
    height: 3em;
}
.Pricing-section-one{
    width: 100%;
    height: fit-content;
    /* border: var(--try-b); */
    overflow: hidden;
    margin-top: 10%;
}
.Pricing-section-one-text-one{
    font-size: 2em;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.Pricing-section-one-text-two{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: grey;
    font-size: 1.2em;
    margin-top: -15px;
}
.Pricing-section-two{
    /* border: var(--try-b); */
    width: 90%;
    height: fit-content;
    margin-top: 5%;
    align-self: center;
    gap: 15px;
}
.space-pricing{
    height: 1em;
}
.Pricing-divs-section-one{
    width: 87%;
    height: 35em;
    border: var(--main-b);
    border-radius: 10px;
    padding: 5%;
    
}
.Pricing-divs-section-one-header{
    font-size: 1.1em;
    margin-top: auto;
}
.Pricing-divs-section-one-description{
    color: grey;
    font-size: 0.9em;
    margin-top: -1%;
}
.Pricing-divs-section-one-button{
    width: 80%;
    align-self: center;
    border: var(--main-b);
    height: 2.5em;
    background-color: rgb(4, 97, 4);
    border-radius: 7px;
}
.amounts-section-two{
    display: flex;
    align-items: baseline;
    width: fit-content;
    height: fit-content;
    /* border: var(--try-b); */
}
.amounts-section-two-big-text{
    font-size: 48px;
    font-family: monospace;
    color: white;
}
.amounts-section-two-small-text{
    font-size: 13px;
}
.benefits-pricing{
    color: grey;
    font-size: 13px;
}
.benefits{
    display: flex;
    align-items: center;
    gap: 3px;
    width: fit-content;
    height: 2.2em;
    /* border: var(--try-b); */
}
.benefits-text{
    font-size: 13px;  
}
.benefits-text>span{
    color: grey;
    font-size: 11px;
}
.benefits>img{
    height: 20px;
}
.last-text-pricing{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: grey;
}
.enterprise-margin{
    margin-top: 0%;
}
.hidden-no-big{
        display: none;
}
.black-price-button{
    background-color: #3c3d3d;
}
.Pricing-section-three{
    width: 100%;
    height: fit-content;
    margin-top: 10%;
    gap: 10px;
}
.Pricing-section-three-button-one{
    width: 27%;
    height: 1.5em;
    background-color: white;
    border: var(--main-b);
    border-radius: 6px;
}
.Pricing-section-three-button-two{
    width: 37%;
    height: 1.5em;
    background-color: rgb(73, 72, 72);
    border: var(--main-b);
    border-radius: 6px;
}
.Pricing-section-three-button-one>p{
    color: black;
    font-size: 12px;
}
.Pricing-section-three-button-two>p{
    font-size: 12px;
}
.Pricing-section-three-button-one>img,.Pricing-section-three-button-two>img{
    height: 1em;
}
.pricing-section-four{
    width: 80%;
    height: fit-content;
    border: var(--main-b);
    align-self: center;
    margin-top: 10%;
    padding: 5%;
    border-radius: 6px;
}
.first-div-section-four{
    width: 43%;
    border: var(--main-b);
    height: 1.4em;
    border-radius:10px ;
}
.first-div-section-four>p{
    font-size: 14px;
}
.first-text-section-four{
    font-size: 24px;
    margin-top: 2%;
}
.second-text-section-four{
    font-size: 13px;
    margin-top: 0%;
    color: grey;
}
.second-div-section-four{
    width: 53%;
    border: var(--main-b);
    height: 1.3em;
    border-radius: 10px;
}
.second-div-section-four>p{
    font-size: 12px;
}
.third-div-section-four{
    width: 92%;
    height: fit-content;
    border: var(--main-b);
    padding: 4%;
    margin-top: 7%;
    border-radius: 5px;
    
}
.first-div-inside-third-div-section-four{
    width: 90%;
    height: 1.5em;
    border: var(--main-b);
    align-self: center;
    gap: 7px;
    margin-bottom: 5%;
}
.first-div-inside-third-div-section-four>p{
    font-size: 12px;
}
.first-div-inside-third-div-section-four>img{
    height: 12px;
}
.plan-pricing-third-div{
    display: flex;
    align-items: center;
    width: 100%;
    height: 1em;
    /* border: var(--try-b); */
}
.plan-pricing-third-div>p{
    font-size: 12px;
}
.pricing-third-div{
    margin-left: auto;
    font-family: monospace;
}
.shade0>p{
    color: rgb(92, 92, 92);
}
.shade1>p{
    color:rgb(109, 108, 108);
}
.shade2>p{
color: rgb(131, 130, 130);
}
.fourth-div-pricing-inside{
    width: 90%;
    height: 2em;
    margin-top: 3%;
    margin-left: 7%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.top-text{
    font-size: 12px;
    font-family: monospace;
}
.second-text{
    font-size: 12px;
    color: grey;
}
.thrid-text{
    font-size: 12px;
    margin-left: auto;
}
.white-circle-pricing{
    height: fit-content;
    width: fit-content;
    
}
.white-circle-pricing>img{
    height: 15px;
}
.thrid-text-pricing-inside{
    font-size: 12px;
    color: grey;
}
.add-project-button{
    border: var(--main-b);
    height: 1.3em;
    border-radius: 4px;
    gap: 5px;
}
.add-project-button>p{
    font-size: 12px;
}
.add-project-button>img{
    height: 0.9em;
}
.Compute-size{
    display: flex;
    width: 100%;
    height: 1.4em;
    /* border: var(--try-b); */
    align-items: center;
    margin-top: 5%;

}
.compute-size-main,.microasd,.asd,.core-ARM,.CPU,.Delicated{
    font-size: 12px;
}
.asd,.core-ARM{
    margin-left: auto;
}
.microasd{
    margin-left: auto;
    color: rgb(82, 180, 82);
}
.CPU,.core-ARM{
    color: grey;
}
.Delicated{
    color: rgb(58, 58, 58);
}
.pricing-expand{
    border: var(--main-b);
    height: fit-content;
    border-radius: 4px;
    gap: 3px;
}
.pricing-expand>p{
    font-size: 14px;
}
.pricing-expand>img{
    height: 1.1em;
}
.pricing-section-five{
    /* border: var(--try-b); */
    height: fit-content;
    width: 70%;
    padding: 10%;
    align-self: center;
}
.first-text-pricing-section-five{
    text-align: center;
    font-size: 30px;
}
.second-text-pricing-section-five{
    text-align: center;
    font-size: 18px;
    color: grey;
    margin-top: 0%;
}
.main-disk0-support-div{
    display: flex;
    width: 100%;
    height: fit-content;
    gap: 20px;
    border: var(--try-b);
}
.pricing-section-six{
    height: fit-content;
    width: 75%;
    align-self: center;
    padding: 2%;
    border: var(--main-b);
    border-radius: 8px;
}
.disk0-support-div{
    width: 50%;
    height: 20em;
    /* border: var(--try-b); */
}
table{
    width: 100%;
    /* border: 0.5px solid white; */
    justify-self: center;
}

.right-data{
    width: 40%;
    flex-shrink: 0;
}
td{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    
}
tr{
    height: 3em;
}
.table2{
    margin-top: 10%;
}
.laptop{
    display: none;
}
.phone{
    display: block;
}
.right-data0{
    width: 43%;
}
.right-data-green{
    color: rgb(109, 182, 109);
}
.advance-disk-config-div{
    width: 47%;
    height: 2em;
    border: var(--main-b);
    align-self: center;
    gap: 3px;
    border-radius: 5px;
    margin-top: 4%;
}
.advance-disk-config-div>a>p{
    font-size: 12px;
}
.advance-disk-config-div>a>img{
    height: 15px;
    opacity: 0.4;
}
.advance-disk-config-div>a{
    width: 100%;
}
.pricing-section-eight{
   width: 90%;
   height: fit-content;
   /* border: var(--try-b); */
   padding: 5%;
}
.pricing-section-eight-first-text{
    align-self: center;
    font-size: 30px;
}
.pricing-section-eight-second-text{
    font-size: 18px;
    color: grey;
    text-align: center;
    margin-top: -4%;
}
.pricing-section-eight-third-text{
    font-size: 13px;
    color: grey;
}
.pricing-section-eight-fourth-text{
   font-size: 24px; 
   margin-top: -2%;
}
.pricing-section-eight-fifth-text{
    font-size: 16px;
    color: grey;
    margin-top: -2%;
}
.pricing-section-eight-div{
    gap: 2px;
    width: 44%;
    height: 2em;
    border: var(--main-b);
    border-radius: 8px;
}
.pricing-section-eight-div>p{
    font-size: 12px;
}
.pricing-section-eight-div>img{
    height: 15px;
    opacity: 0.7;
}
.available-on-pro-div-big{
    /* border: var(--try-b); */
    height: fit-content;
}
.Spend-Cap-On{
    display: flex;
    align-items: center;
    gap: 4px;
    width: 60%;
    height: 2em;
    /* border: var(--try-b); */
}
.green-toggle{
    display: flex;
    justify-content: flex-end;
    width: 15%;
    height: 1.4em;
    align-self: center;
    background-color: rgb(115, 199, 115);
    border-radius: 30px;
    margin-left: 5%;
    
}
.green-toggle>img{
    height: 1.3em;
}
.yellow-graph-line-div{
    margin-top: 5%;
    height: fit-content;
    width: 100%;
    /* border: var(--try-b); */
}
.Spend-Cap-On>p{
    font-size: 14px;
    color: rgb(151, 148, 148);
}
.yellow-line{
    border: 1px dashed orange;
    width: 100%;
    margin-top: 5%;
}
.bars{
    align-items: baseline;
    gap: 35px;
    width: 100%;
    height: fit-content;
    /* border: var(--try-b); */
}
.bar1,.bar2,.bar3,.bar4,.bar5{
    width: 3%;
    height: 7em;
    border: 0.5px solid rgb(107, 103, 103);
}
.bar5{
    height: 4em;
}
.bar4{
    height: 4em;
}
.bar3{
    height: 4em;
}
.bar2{
    height: 3.4em;
}
.bar1{
    height: 2em;
}
.custom-domain-main{
    margin-top: 5%;
}
.custom-domain{
    width: 100%;
    justify-content: center;
    height: fit-content;
    border: var(--main-b);
    border-radius: 8px;
    padding: 6px;
}
.flat-fee{
    display: flex;
    align-items: center;
    height: 1em;
    p{
        font-size: 13px;
        color: grey;
        /* letter-spacing: 2px; */
        word-spacing: 3px;
    }
    img{
        height: 20px;
        margin-left: auto;
        opacity: 0.6;
    }
}
.custom-domain-inside{
    gap: 7px;
     display: flex;
     align-items: center;
     height: 1em;
     p{
        font-size: 14px;
     }
     img{
         height: 20px;
     }
     margin-top: 3%;
     .right-img-custom{
        margin-left: auto ;
        opacity: 0.6;
     }
}
.custom-domain-text{
    font-size: 13px;
    color: gray;
}
.time-recovery{
    margin-top: 5%;
}
@media  screen and (min-width:768px) {
    .section-four-imgs{
        grid-template-columns: repeat(10,9fr);
    }
    .text-in-section-four{
        font-size: 2.4em;
        line-height: 1em;
    }
    .section-six{
        margin-top: 15% ;
    }
    .buttons-div-section-seven{
        margin-top: 0%;
    }
    .buttons-section-seven{
        height: 2em;
        width: 20%;
    }
    .buttons-section-seven{
        font-size: 1em;
    }
    .first-text-section-seven{
        font-size: 2.2em;
    }
    .Second-text-section-seven{
        font-size: 1.1em;
        margin-top: -1%;
    }
    .main-div{
        width: 40%;
    }
    .section-eight{
        margin-top: 3%;
    }
    .first-text-section-nine{
        font-size: 2.2em;
    }
    .buttons-section-nine{
        width: 15%;
    }
    .last-text-section-nine{
        display: flex;
        flex-wrap: wrap;
    }
    .last-divs-section-nine{
        flex-wrap: nowrap;
        font-size: 1em;
    }
    .last-divs-section-nine-end{
        margin-left: 32%;
        font-size: 1em;
        margin-top: -1%;
        
    }
    .buttons-div-section-nine{
        /* height: 4em; */
    }
    .buttons-section-nine{
        height: 3em;
        border-radius: 35px;
    }
    .buttons-text-section-nine{
        font-size: 0.9em;
    }
    .button-section-ten-one{
        width: 30%;
    }
    .button-section-ten-two{
        width: 15%;
    }
    .buttons-div-section-ten{
        margin-top: 2%;
    }
    .buttons-section-eleven-green,.buttons-section-eleven-black{
        height: 2.5em;
        border: var(--main-b);
        width: 20%;
        border-radius: 5px;
        background-color: rgb(57, 121, 57);
    }
    .buttons-section-eleven-black{
        background-color: black;
    }
    .text-section-eleven{
        font-size: 2em;
    }
    .first-div-section-twelve{
        display: flex;
        padding-left: 5%;
    }
    .div-section-twelve{
        display: flex;
        font-size: 1.3em;
    }
    .order-second{
        order: 1;
    }
    .order-first{
        order: 0;
    }
    .order-third{
        gap: 5px;
        order: 2;
        margin-left: 10%;
    }
    .order-fourth{
        order: 3;
        margin-left: auto;
        gap: 5px;
    }
    .gray-text-section-twelve{
        display: block;
        color: grey;
        font-size: 0.65em;
    }
    .listing-section-thirdteen{
        grid-template-columns: repeat(4,3fr);
    }
    .footer{
        margin-bottom: 7%;
    }
    .section-three{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: 106em;
        padding: 5%;
        gap: 15px;
    }
    .main-div-one-section-three{
        grid-column: span 2;
    }
    .main-divs-section-three{
        height: 25em;
        border: var(--try-b);
    
    }
    .div0{
     display: flex;
     width: 70%;
     
     height: fit-content;
    }
    .left-side-elephant{
        width: 50%;
        height: 100%;
        border: var(--try-b);
    }
    .left-side-elephant-down{
        display: flex;
        flex-direction: column;
        width: 65%;
        height: 6em;
        border: var(--try-b);
        margin-top: auto;
        padding: 5%;
    }
    .div-inside-elephant-down{
        display: flex;
        align-items: center;
        width: fit-content;
        height: 1.4em;
        border: var(--try-b);

    }
    .div-inside-elephant-down>img{
        height: 1em;
    }
    .right-div-section-three{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
        /* border: var(--try-b); */
    }
    .main-div-one-section-three{
        display: flex;
        flex-direction: row;
    }
    .elephant-section-three{
        
    }
    .elephant-section-three>img{
        height: 12em;
    }
    .text-section-three-div{
        width: 100%;
        height: fit-content;
        /* border: var(--try-b); */
        grid-column: span 2;
    }
    .text-section-three{
        font-size: 1.4em;
        margin-right: 0%;
        overflow: hidden;
    }
    .sub-div-section-three{
        width: 95%;
    }
    .logo-header-div-section-three{
        justify-content: center;
    }
    .shift-left{
        justify-content: flex-start;
    }
    .sub-div-section-three>p{
        text-align: center;
    }
    .comments-div{
        width: 40%;
    }
    .video-div{
        margin-top: 4%;
    width: 100%;
    height: 30em;
}
.Pricing-section-one-text-one{
    font-size: 2.5em;
}
.Pricing-section-one-text-two{
    font-size: 1.3em;
}
.Pricing-section-two{
    width: 60%;
}
 .hidden-no-big{
        display: none;
}
.Pricing-section-three{
    width: 70%;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
.Pricing-section-three-button-one{
    width: 20%;
}
.Pricing-section-three-button-two{
    width: 30%;
}
.first-div-section-four{
    width: 25%;
}
.second-div-section-four{
    width: 30%;
}
.pricing-section-six{
    width: 92%;
}
.right-data{
    width: 20%;
}
.right-data0{
    width: 26%;
}
.advance-disk-config-div{
    width: 27%;
}
.pricing-section-eight-second-text{
    margin-top: -1.5%;
}
.pricing-section-eight-third-text{
    margin-top: 5%;
}
.pricing-section-eight-fourth-text{
    margin-top: 0%;
}
.pricing-section-eight-fifth-text{
    margin-top: -2%;
}
.pricing-section-eight-div{
    width: 24%;
}
.custom-domain-main{
    flex-direction: row;
    gap: 10px;
}
.time-recovery{
    margin-top: 0%;
}
.from-tab{
    display: none;
}
}

@media screen and (min-width:1024px) {
    .hidden-laptop{
        display: none;
    }
    .menu-button-header{
        display:none;
    }
    .header{
        gap: 35px;
    }
    .container-for-header-h1{
        font-size: 1em;
    }
    .container-for-header-img{
        height: 1em;
        width: 1em;
    }
    .container-for-header-h2{
        display: block;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.85em;
        flex-grow: 1;
    }
    .container-for-header-h2-div{
        display: flex;
        justify-content: space-between;
        width: 60%;
        /* border: 0.5px solid white; */
    }
    .div-for-product,.div-for-developers{
        display: flex;
        align-items: center;
        width: fit-content;
        /* border: 0.5px solid white; */
        margin-right: 5%;
    }
    .div-for-product >img,.div-for-developers>img{
        height: 1em;
        width: 1em;
    }
    .div-for-header-buttons{
        display: flex;
        align-items: center;
        width: 30%;
        height: 100%;
        /* border: 0.5px solid white; */
    }
    .div-for-git-logo{
        display: flex;
        align-items: center;
        gap: 2px;
        width: 20%;
        height: 70%;
        /* border: 0.5px solid white; */
    }
    .div-for-git-logo > img{
        height: 1em;
        width: 1em;
    }
    .div-for-git-logo > span{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.85em;
        opacity: 0.5;
    }
    .black-button-header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        border: 0.5px solid white;
        border-radius: 4px;
        height: 40%;
    }
    .green-button-header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        border: 0.5px solid white;
        border-radius: 4px;
        height: 40%;
        margin-left: 3%;
        background-color: rgb(69, 110, 69);
    }
    .black-button-header>h5,.green-button-header>h5{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.65em;
    }
    .para-one-section-one{
        font-size: 4.5em;
        margin-top: 13%;
    }
    .para-two-section-one{
        flex-wrap: wrap;
        font-size: 1.1em;
        text-align: center;
       
    }
    .buttons-div-section-one>a{
        width: 15%;
    }
    .buttons-div-section-one{
        height: 3.4em;
    }
    .section-two-log-div{
        align-self: center;
        width: 33%;
        height: 3em;
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
    }
    .section-four-imgs{
        margin-top: 3%;
    }
    .section-six{
        margin-top: 10% ;
    }
    .section-eight{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        overflow: hidden;
    }
    .main-div{
        width: 99%;
        height: 22em;
    }
    .top-div-inside-section-eight>img{
        height: 2em;
    }
    .down-div-inside-section-eight>h6{
        font-size: 1.5em;
    }
    .down-div-inside-section-eight>p{
        font-size: 1.2em;
    }
    .last-text-section-nine{
        flex-wrap: nowrap;
        margin-top: 2%;
    }
    .last-divs-section-nine-end{
        margin: 0%;
    }
    .first-text-section-nine{
        font-size: 2.4em;
    }
    .section-nine{
        padding: 10%;
        margin-top: 2%;
    }
    .last-divs-section-nine,.last-divs-section-nine-end{
        font-size: 0.85em;
    }
    .last-text-section-nine{
        margin-left: -10%;
    }
    .first-div-section-twelve{
        align-items: center;
        justify-content: center;
    }
    .order-fourth{
        margin-left: 3%;
    }
    .order-third{
        margin-left: 3%;
    }
    .Pricing-section-two{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 80%;
        gap: 13pxpx;
    }
    .Pricing-divs-section-one{
        width: 90%;
    }
    .hidden-no-big{
        display: none;
    }
    .Pricing-section-three-button-one{
    width: 15%;
}
.Pricing-section-three-button-two{
    width: 22%;
}
.laptop{
        display: block;
    }
    .phone{
        display: none;
    }
    .row-one>td{
        width: 20%;
    }
    .row-one>td,.row-two>td{
    font-size: 14px;
    font-weight: 400;
    height: 5em;
}
.bold-general{
    font-size: 16px;
}
.bold-general>span{
    font-size: 14px;
    color: grey;
}
.advance-disk-config-div{
    width: 20%;
}
.available-on-pro-div-big{
    flex-direction: row;
    border-radius: 9px;
    border: var(--main-b);
}
.order-one{
    order: 1;
    width: 100%;
}
.yellow-graph-line-div{
    border: var(--main-b);
    border-radius: 8px;
    height: 15em;
}
.available-on-pro-div-big{
    gap: 20px;
    height: fit-content;
    padding: 1%;
}
.pricing-section-eight-div{
    width: 40%;
}
.yellow-line{
    margin-top: 20%;
}
}

@media screen and (min-width:1280px) {
    .section-four{
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        /* border: var(--try-b); */
        align-items: center;
    }
    .section-four-imgs{
        display: flex;
        gap: 2px;
        width: 60%;
        margin-left: auto;
        margin-bottom: 2%;   
    }
    .text-in-section-four{
        text-align: left;
    }
    .paragraph-buttons-section-five{
        display: flex;
        /* border: var(--try-b); */
        align-items: center;
    }
    .Third-text-section-five{
        align-self: center;
        margin-top: 0%;
    }
    .div-buttons-section-five{
        width: 80%;
        /* border: var(--try-b); */
    
    }
    .buttons-section-five-green{
        margin-left: auto;
        width: 20%;
    }
    .buttons-section-five-black{
        width: 20%;
    }
    .first-text-section-five{
        font-size: 1em;
    }
    .Second-text-section-five-div{
        /* border: var(--try-b); */
        width: 40%;
        height: 7em;
    }
.Second-text-section-five{
    font-size: 2.5em;
}
.section-five{
    margin-top: 7%;
}
.section-six{
    margin-top: 15% ;
}
.section-eight{
    grid-template-columns: repeat(3,2fr);
}
.section-nine{
    padding: 10%;
    margin-top: 2%;
}
.section-thirdteen{
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-items: center;
}
.div-big-screen{
    align-self: flex-start;
    margin-top: 3%;
}
.section-three{
    grid-template-columns: repeat(4,3fr);
    grid-template-rows: repeat(3,2fr);
    gap: 0;
}
.Pricing-section-two{
    display: flex;
    gap: 0;
    justify-content: flex-start;
    flex-direction: row;
    overflow-x: visible;
    white-space: nowrap;
    /* border: var(--try-b); */
    width: 90%;
   
}
.Pricing-divs-section-one{
    width: 14.8%;
    padding-left: 1%;
    flex-grow: 1;
   
}
 .hidden-no-big{
        display: block;
}
.pro-pricing-div{
    margin-top: -3%;
    height: 39em;
}
.advance-disk-config-div{
    width: 16%;
}
.order-one{
    margin-top: 5%;
}
}


